# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Media
media/

# Collected static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db