{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-body">

                    <h2 class="text-center mb-4">
                        Customer Login
                    </h2>

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label>
                                Username
                            </label>

                            <input
                                type="text"
                                name="username"
                                class="form-control">

                        </div>

                        <div class="mb-3">

                            <label>
                                Password
                            </label>

                            <input
                                type="password"
                                name="password"
                                class="form-control">

                        </div>

                        <button
                            type="submit"
                            class="btn btn-primary w-100">

                            Login

                        </button>
                        <hr class="my-4">

<div class="text-center">

    <p class="mb-2">

        Don't have an account?

    </p>

    <a href="{% url 'register' %}"
       class="btn btn-outline-primary">

        Create New Account

    </a>

</div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}