<div class="card shadow-sm mb-4">

    <div class="card-body">

        <div class="d-flex flex-wrap gap-2">

            <a href="{% url 'appointment_list' %}"
               class="btn btn-outline-primary">

                All Appointments

            </a>

            <a href="{% url 'today_visits' %}"
               class="btn btn-outline-success">

                Today's Visits

            </a>

            <a href="{% url 'upcoming_visits' %}"
               class="btn btn-outline-warning">

                Upcoming Visits

            </a>

        </div>

    </div>

</div>