{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<h2>Property Versions</h2>

<div class="mb-3">

    <a href="{% url 'property_list' %}"
       class="btn btn-secondary">

        ← Back to Properties

    </a>

</div>
<table class="table">

    <thead>
    <tr>
        <th>Created</th>
        <th>Title</th>
        <th>City</th>
        <th>Location</th>
        <th>Type</th>
        <th>Status</th>
        <th>Publish</th>
        <th>Price</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Area</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>

{% for version in versions %}

<tr>

    <td>{{ version.created_at }}</td>

    <td>{{ version.title }}</td>

    <td>{{ version.city }}</td>

    <td>{{ version.location }}</td>

    <td>{{ version.property_type }}</td>

    <td>{{ version.status }}</td>

    <td>

        {% if version.publish_status == 'Published' %}
            <span class="badge bg-success">Published</span>
        {% else %}
            <span class="badge bg-secondary">Draft</span>
        {% endif %}

    </td>

    <td>₹ {{ version.price }}</td>

    <td>{{ version.bedrooms }}</td>

    <td>{{ version.bathrooms }}</td>

    <td>{{ version.area_sqft }} sqft</td>

    <td>

        <a href="{% url 'rollback_property' version.id %}"
           class="btn btn-danger btn-sm">

            Rollback

        </a>

    </td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}