{% extends 'dashboard/base_dashboard.html' %}

{% block title %}
Delete Property
{% endblock %}

{% block content %}


<div class="container-fluid">

    <div class="card shadow">

        <div class="card-body text-center">

            <h3>

                Delete Property

            </h3>

            <p>

                Are you sure you want to delete

                <strong>
                    {{ property.title }}
                </strong>

                ?

            </p>

            <form method="POST">

                {% csrf_token %}

                <button type="submit"
                        class="btn btn-danger">

                    Delete

                </button>

                <a href="{% url 'property_list' %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}