{% extends 'dashboard/base_dashboard.html' %}

{% block title %}
Properties
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">

    <h2 class="mb-0">

        Properties

    </h2>

    <a href="{% url 'property_create' %}"
       class="btn btn-primary">

        + Add Property

    </a>

</div>

<div class="card shadow">

    <div class="card-body p-0">

        <div class="table-responsive">

            <table class="table table-hover align-middle mb-0">

                <thead class="table-light">

                    <tr>

                        <th>Title</th>

                        <th>City</th>

                        <th>Price</th>

                        <th>Status</th>

                        <th>Featured</th>

                        <th>Actions</th>

                    </tr>

                </thead>

                <tbody>

                    {% for property in properties %}

                    <tr>

                        <td>

                            {{ property.title }}

                        </td>

                        <td>

                            {{ property.city }}

                        </td>

                        <td>

                            ₹ {{ property.price }}

                        </td>

                        <td>

                            {% if property.publish_status == 'Published' %}

                                <span class="badge bg-success">

                                    Published

                                </span>

                            {% else %}

                                <span class="badge bg-secondary">

                                    Draft

                                </span>

                            {% endif %}

                        </td>

                        <td>

                            {% if property.featured %}

                                Yes

                            {% else %}

                                No

                            {% endif %}

                        </td>

                        <td>

                            

                                <a href="{% url 'property_images' property.id %}"
                                   class="btn btn-info btn-sm">

                                    Media

                                </a>

                                <a href="{% url 'property_update' property.id %}"
                                   class="btn btn-warning btn-sm">

                                    Edit

                                </a>

                                {% if property.publish_status == 'Draft' %}

                                <a href="{% url 'publish_property' property.id %}"
                                class="btn btn-sm btn-success action-btn">

                                Publish

                                </a>

                                {% else %}

                                <a href="{% url 'unpublish_property' property.id %}"
                                class="btn btn-sm btn-secondary action-btn">

                                Unpublish

                                </a>

                                {% endif %}

                                <a href="{% url 'property_versions' property.id %}"
                                   class="btn btn-dark btn-sm">

                                    Versions

                                </a>

                                <a href="{% url 'property_delete' property.id %}"
                                   class="btn btn-danger btn-sm">

                                    Delete

                                </a>

                            

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div> 

    </div>

</div>

{% endblock %}